@{
    ViewBag.Title = "Home Page";
    //Layout = "MyLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 margin-top-20">
        <p>
            <a href="#" class="btn btn-primary btm-lg btn-block">
                <span class="glyphicon glyphicon-circle-arrow-down"></span> Withdrawal
            </a>
            <a href="#" class="btn btn-primary btm-lg btn-block">
                <span class="glyphicon glyphicon-flash"></span> Quick Cash
            </a>
            <a href="@Url.Action("Details", "CheckingAccount")" class="btn btn-primary btm-lg btn-block">
                <span class="glyphicon glyphicon-question-sign"></span> Balance Inquiry
            </a>
    </div>
    <div class="col-md-6 margin-top-20">
         <a href="#" class="btn btn-primary btm-lg btn-block">
                <span class="glyphicon glyphicon-print"></span> Print Statement
            </a>
            <a href="#" class="btn btn-primary btm-lg btn-block">
                <span class="glyphicon glyphicon-transfer"></span> Transfer Fund
            </a>
            <a href="@Url.Action("Deposit", "Transaction", new { checkingAccountId= ViewBag.CheckingAccountId})" class="btn btn-primary btm-lg btn-block">
                <span class="glyphicon glyphicon-circle-arrow-up"></span> Deposit
            </a>
    </div>
</div>

@*<div class="jumbotron">
        <h1>Middle Valley Community Bank</h1>
        <p class="lead">Middle Valley Community Bank offers the first ever web-based ATM.
        Give it a try today! </p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Powered By ASP.NET</a></p>
    </div>*@

@*<div class="row">

        <div class="col-md-4">
            <h2>Register</h2>
            <p>
               Open an account with us
            </p>
            <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class="btn btn-default"})</p>
        </div>
        <div class="col-md-4">
            <h2>Login</h2>
            <p>Access your existing account</p>
            <p>@Html.ActionLink("Log In", "Login", "Account", null, new { @class="btn btn-default"})</p>
        </div>
    </div>*@
@*
    You are using @Request.Browser.Browser, and that's OK. Email us at support@mvcatm.com if you have any problems.
    Or send us a tweet @@mvcatm.

    @{
        var amounts = new List<decimal> { 100, 25.50m, -40, 275.99m };
    }

    //to add plain text use an text tag or @:
    <ul>
        @foreach (decimal amount in amounts)
        {
            <li>
                @formatAmount(amount)
            </li>
                <text>Plain text</text>
                @:Plain Text
    }

    </ul>

    //razor helper methods are created using 'helper' keyword, which allows us to create methods
       // that we can call from another Razor expression or code block.
    @helper formatAmount(decimal amount)
    {
    var color = "green";
    if (amount < 0)
    {
        color = "red";
    }
        <span style="color:@color">@string.Format("{0:c}", amount);</span>
    }
*@


